*{
    margin: 0;  padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


body{   background-color: #343541;  }


.header{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    color: #ccc;
    border-bottom: 1px solid #5c5c66;
}
.header h3{
    font-size: 40px;
    font-weight: 900;
}

.container{
    max-width: 920px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.info{
    display: flex;
    flex: 20;
    align-items: center;
    justify-content: center;
}
.info a{
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    transition: all .3s ease;
}
.info a:hover{   color: #4caf50;   }

.input-container{
    background-color: #343541;
    display: flex;
    position: sticky;
    padding: 10px;      bottom: 0;
    justify-content: space-between;
    border-top: 1px solid #5c5c66;
}

#user-input{
    background-color: #40414f;
    color: #fff;
    padding: 8px;
    flex: 9;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    outline: none;
}
#user-input::placeholder{
    color: #8e8e8e;
    font-weight: 400;
}

#send-button{
    display: flex;
    padding: 8px 20px;
    margin-left: 15px;
    background-color: #4caf50;
    color: #fff;
    align-items: center;
    justify-content: center;
    border: none;
    border-right: 5px;
    transition: all .3s ease;
    cursor: pointer;
}
#send-button:hover{    background-color: #388e3c;     }


.chat-container{     flex: 1;   }

.chat-box{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

#chat-log{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
}
#chat-log i{
    margin-right: 10px;
    color: #fff;
    border-radius: 5px;
}

.bot, .user{
    display: flex;
    width: 100%;
    padding: 15px 7px 15px 10px;
    align-items: flex-start;
    color: #eee;
    border-radius: 6px;
}
.bot{      background-color: #444654;     }

#chat-log #user-icon i{
    background-color: #19c37d;
    padding: 10px 11px;
}

#chat-log #bot-icon i{
    background-color: #9859b7;
    padding: 10px 8px 11px;
}


.footer{
    text-align: center;
    padding: 15px;
    color: #fff;
    font-weight: bold;
}
.footer span{    color: #19c37d;   }